<div class="window-wrapper">
    <nz-card class="message-card">
        <ng-template #title>
            <!-- <h1>{{"用户:"+currentMessage.User.name}}</h1> -->
            <h1>test</h1>
            <!-- <h2>{{currentMessage.TargetAddress}}</h2> -->
        </ng-template>
        <ng-template #extra>
            <a>More</a>
        </ng-template>
        <ng-template #body>
            <!-- <p>{{currentMessage.Remark}}</p> -->
            <p>content-test</p>
        </ng-template>
    </nz-card>
    <div class="msg-editor-container">
        <editor (onOutput)="onEnter($event)"></editor>
    </div>
</div>