.window-wrapper {
    height: 100%;
    width: 100%;
    background: white;
    position: relative;
    .message-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .message-content {
        font-size: 16px;
        padding-left: 15px;
        margin-bottom: 15px;
    }
    .create-time,
    .contact-info {
        float: right;
        margin-right: 15px;
        font-size: 12px;
        font-style: italic;
    }
}

.msg-content-wrapper {
    height: calc(100% - 210px);
    overflow: auto;
    border-left: 1px solid #ccc;
}

// .msg-editor-container {}