main {
    height: 100%;
}

.app-layout {
    height: inherit;
    .header {
        background: black;
        font-size: 18px;
        >.logo {
            float: left;
            height: 40px;
            margin-top: 15px;
        }
        >.title {
            color: #5DBBAF;
            margin-left: 45px;
        }
    }
    .body {
        .nav-sider {
            padding: 24px 0;
            background: #404040;
        }
        .router-container {
            position: relative;
            height: calc(100% - 64px);
            height: -webkit-calc(100% - 64px);
            height: -moz-calc(100% - 64px);
            margin: 24px;
            background: #fff;
        }
    }
}