main{
    height: 100%;
}
.app-layout {
    height: 100%;
    .header {
        font-size: 18px;
        >.logo {
            float: left;
            height: 40px;
            margin-top: 15px;
        }
        >.title {
            color: #5DBBAF;
            margin-left: 45px;
        }
    }
    .body {
        .nav-sider {
            margin: 24px 0 24px 24px
        }
        .router-container {
            margin: 24px;
            background: #fff;
        }
    }
}