<main>
    <nz-layout class="app-layout">
        <nz-header class="header">
            <img class="logo" src="/assets/images/logo/logo.png" />
            <h1 class="title">Lofty Dashboard</h1>
        </nz-header>
        <nz-layout class="body">
            <nz-sider class="nav-sider" [nzWidth]="200">
                <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" style="height:100%">
                    <!-- <li nz-menu-item><a routerLink="/dashboard"><i class="anticon anticon-line-chart"></i>控制台</a></li> -->
                    <li nz-menu-item><a routerLink="/message"><i class="anticon anticon-mail"></i>留言箱</a></li>
                    <li nz-menu-item><a routerLink="/chat"><i class="anticon anticon-message"></i>聊天列表</a></li>
                    <li nz-menu-item><a routerLink="/room"><i class="anticon anticon-database"></i>房间管理</a></li>
                    <!-- <li nz-menu-item><a routerLink=""><i class="anticon anticon-database"></i>会员管理</a></li>
                    <li nz-menu-item><a routerLink=""><i class="anticon anticon-database"></i>订单管理</a></li> -->
                    <li nz-menu-item><a routerLink="/personal"><i class="anticon anticon-idcard"></i>个人设置</a></li>
                </ul>
            </nz-sider>
            <nz-layout class="main-layout">
                <nz-content class="router-container">
                    <router-outlet></router-outlet>
                </nz-content>
            </nz-layout>
        </nz-layout>
    </nz-layout>
</main>