<nz-layout class="main-layout">
    <nz-content class="content-wrapper">
        <nz-layout *ngIf="!vm.isFormVisible" class="room-table-wrapper">
            <nz-header style="background: #fff;">
                <form nz-form class="filter-form" [nzLayout]="'inline'">
                    <div nz-form-item>
                        <div nz-form-label>
                            <label for="text">订单号</label>
                        </div>
                        <div nz-form-control>
                            <nz-input name="text" [(ngModel)]="filterForm.orderId"></nz-input>
                        </div>
                    </div>
                    <div nz-form-item>
                        <div nz-form-label>
                            <label for="text">手机号</label>
                        </div>
                        <div nz-form-control>
                            <nz-input name="text" [(ngModel)]="filterForm.phone"></nz-input>
                        </div>
                    </div>
                    <div nz-form-item>
                        <div nz-form-label>
                            <label for="text">申请用户帐号</label>
                        </div>
                        <div nz-form-control>
                            <nz-input name="text" [(ngModel)]="filterForm.applyUserAccount"></nz-input>
                        </div>
                    </div>
                    <div nz-form-item>
                        <div nz-form-label>
                            <label for="roomType">状态</label>
                        </div>
                        <div nz-form-control>
                            <nz-select name="roomType" style="width:120px" [(ngModel)]="filterForm.status">
                                <nz-option [nzLabel]="'全部'" [nzValue]="''"></nz-option>
                                <nz-option *ngFor="let option of vm.statusTypes" [nzLabel]="option.name" [nzValue]="option.value">
                                </nz-option>
                            </nz-select>
                        </div>
                    </div>
                    <div nz-form-item>
                        <button nz-button type="button" [nzType]="'primary'" (click)="reset()">
                            <i class="anticon anticon-search"></i>
                            <span>搜索</span>
                        </button>
                    </div>
                </form>
            </nz-header>
            <nz-content>
                <nz-table #nzTable nzShowSizeChanger [nzAjaxData]="dataSet" [nzTotal]="tablePagination.total" [nzLoading]="vm.tableLoading" [nzBordered]="true" [nzShowSizeChanger]="false" [nzIsPageIndexReset]="false" [(nzPageIndex)]="tablePagination.pageIndex" [(nzPageSize)]="tablePagination.pageSize"
                    (nzPageIndexChange)="refreshData()" (nzPageSizeChange)="refreshData(true)">
                    <thead nz-thead>
                        <tr>
                            <th nz-th>
                                <span>房间名</span>
                            </th>
                            <th nz-th>
                                <span>经度坐标</span>
                            </th>
                            <th nz-th>
                                <span>纬度坐标</span>
                            </th>
                            <th nz-th>
                                <span>每晚价格</span>
                            </th>
                            <th nz-th>
                                <span>面积</span>
                            </th>
                            <th nz-th>
                                <span>床位</span>
                            </th>
                            <th nz-th>
                                <span>所属区域</span>
                            </th>
                            <th nz-th>
                                <span>是否特价</span>
                            </th>
                            <th nz-th>
                                <span>特价</span>
                            </th>
                            <th nz-th>
                                <span>成人数量</span>
                            </th>
                            <th nz-th>
                                <span>儿童数量</span>
                            </th>
                            <th nz-th>
                                <span>操作</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody nz-tbody>
                        <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                            <td nz-td>{{data.RoomName}}</td>
                            <td nz-td>{{data.Longitude}}</td>
                            <td nz-td>{{data.Latitude}}</td>
                            <td nz-td>{{data.Price}}</td>
                            <td nz-td>{{data.Area}}</td>
                            <td nz-td>{{data.BedCount}}</td>
                            <td nz-td>{{data.District}}</td>
                            <td nz-td>{{data.IsBargainPrice}}</td>
                            <td nz-td>{{data.BargainPrice}}</td>
                            <td nz-td>{{data.AdultCount}}</td>
                            <td nz-td>{{data.ChildCount}}</td>
                            <td nz-td>
                                <span>
                                    <nz-popconfirm [nzTitle]="'确定要同意这个退订申请吗？'" (nzOnConfirm)="handleAcceptClick(data)">
                                        <a nz-popconfirm>同意</a>
                                    </nz-popconfirm>
                                    <span nz-table-divider></span>
                                <nz-popconfirm [nzTitle]="'确定要拒绝这个退订申请吗？'" (nzOnConfirm)="handleRefuseClick(data)">
                                    <a nz-popconfirm>拒绝</a>
                                </nz-popconfirm>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </nz-content>
        </nz-layout>
    </nz-content>
</nz-layout>