@using System.Web.Mvc.Html @using Lofty.Infrastructure.Model @{ Layout = null; }
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <base href="/Home/Dashboard/">
    <link rel="stylesheet" href="/css/public/adminLoading.css">
    <% if (webpackConfig.htmlElements.headTags) { %>
        <%= webpackConfig.htmlElements.headTags %>
            <% } %>
                <% if (htmlWebpackPlugin.options.metadata.isDevPattern) { %>
                    <script type="text/javascript" src="../../dashboardDll/Dll.js"></script>
                    <% } %>
</head>

<body>
    <app-root>
        <div class="preloader">
            <div class="cs-loader">
                <div class="cs-loader-inner">
                    <span>.</span>
                    <span>.</span>
                    <span>.</span>
                    <span>.</span>
                    <span>.</span>
                    <span>.</span>
                </div>
            </div>
        </div>
    </app-root>
    <!-- <script src="/webpack-dev-server.js"></script> -->
    <script src="/js/jquery.min.js"></script>
    <script src="/scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="/signalr/hubs"></script> @{
    <!--缺头像和电话-->
    var sessionModel = OnlineUserSessionModel.GetSessionModel(this.Session.SessionID);
    <div id="admin-id" data-user-id="@sessionModel.UserId" data-user-account="@sessionModel.Account" data-user-type="@sessionModel.Type"
        data-user-name="@sessionModel.Name" data-user-email="@sessionModel.Email" style="display:none">
    </div>
    }
</body>

</html>