<nz-layout class="main-layout">
    <nz-sider class="thread-wrapper" [nzWidth]="350">
        <nz-tabset class="tab-host" [nzSize]="'small'">
            <nz-tab>
                <ng-template #nzTabHeading>
                    <i class="anticon anticon-mail"></i><span>聊天列表</span>
                </ng-template>
                <div class="scroller">
                    <i *ngIf="chatList.loading" class="anticon anticon-loading anticon-spin"></i>
                    <ng-container *ngIf="!chatList.loading">
                        <ul nz-menu>
                            <li nz-menu-item *ngFor="let target of chatList.targets" class="clearfix" [nzSelected]="target === currentTarget" (click)="handleTargetClicked(target)">
                                <i class="anticon anticon-mail"></i>
                                <span class="nav-text">{{target.UserId!=='-1'?target.UserAccount:"匿名游客"}}</span>
                            </li>
                        </ul>
                    </ng-container>
                </div>
                <nz-pagination class="pagination" [(nzPageIndex)]="chatList.currentPage" [(nzPageSize)]="chatList.pageSize" [nzTotal]="chatList.totalAmount" nzShowSizeChanger nzShowQuickJumper [nzSize]="'small'" (nzPageIndexChange)="getTagetList()" (nzPageSizeChange)="getTagetList()"></nz-pagination>
            </nz-tab>
        </nz-tabset>
    </nz-sider>
    <nz-content class="window-wrapper">
        <div class="chat-content-wrapper">
            <nz-card class="chat-window">
                <ng-template #title>
                    <!-- <h1>{{"用户:"+currentMessage.User.name}}</h1> -->
                    <h1>test</h1>
                    <!-- <h2>{{currentMessage.TargetAddress}}</h2> -->
                </ng-template>
                <ng-template #extra>
                    <a>More</a>
                </ng-template>
                <ng-template #body>
                    <div class="chat-msgs">

                    </div>
                </ng-template>
            </nz-card>
            <div class="msg-editor-container">
                <editor [placeholder]="'说点什么吧'" (onOutput)="onEnter($event)"></editor>
            </div>
        </div>
    </nz-content>
</nz-layout>