:host {
    height: 100%;
}

.main-layout,
.thread-wrapper,
.tab-host {
    height: inherit;
}

.main-layout {
    overflow: hidden;
    border: 1px solid #ccc;
}

.thread-wrapper {
    float: left;
    position: relative;
    background: white;
    padding: 3px 0 3px 5px;
    .scroller {
        position: absolute;
        overflow-y: auto;
        width: 100%;
        height: calc(100% - 100px);
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    }
    .pagination {
        position: absolute;
        bottom: 10px;
    }
    .message-filter {
        width: 90px;
        padding: 0 10px;
    }
}

.window-container {
    float: left;
    height: inherit;
}