<nz-layout class="main-layout">
    <nz-sider class="thread-wrapper" [nzWidth]="350" style="background:#fff">
        <nz-tabset class="thread" [nzTabPosition]="'top'" [nzType]="'card'">
            <nz-tab>
                <ng-template #nzTabHeading>
                    <i class="anticon anticon-mail"></i> 邮箱留言
                </ng-template>
                <div class="scroller">
                    <ul nz-menu>
                        <!-- <li nz-menu-item class="clearfix" *ngFor="let message of emailList.messages">
                            <span class="nav-text">{{message.User.account}}:{{message.Remark}}</span>
                            <i class="anticon anticon-folder"></i>
                        </li> -->
                    </ul>
                </div>
                <nz-pagination [nzPageIndex]="2" [nzTotal]="50" nzSimple></nz-pagination>`,
            </nz-tab>
            <ng-template #nzTabBarExtraContent>
                <nz-select class="message-filter">
                    <nz-option [nzLabel]="'全部'" [nzValue]="0"></nz-option>
                    <nz-option [nzLabel]="'未读'" [nzValue]="1"></nz-option>
                    <nz-option [nzLabel]="'未处理'" [nzValue]="2"></nz-option>
                </nz-select>
            </ng-template>
        </nz-tabset>
    </nz-sider>
    <nz-content class="window-wrapper">
        <div class="window-wrapper">
            <nz-card class="message-card">
                <ng-template #title>
                    <!-- <h1>{{"用户:"+currentMessage.User.name}}</h1> -->
                    <h1>test</h1>
                    <!-- <h2>{{currentMessage.TargetAddress}}</h2> -->
                </ng-template>
                <ng-template #extra>
                    <a>More</a>
                </ng-template>
                <ng-template #body>
                    <!-- <p>{{currentMessage.Remark}}</p> -->
                    <p>content-test</p>
                </ng-template>
            </nz-card>
            <div class="msg-editor-container">
                <editor (onOutput)="onEnter($event)"></editor>
            </div>
        </div>
    </nz-content>
</nz-layout>