.main-layout {
    height: 100%;
    .content-wrapper {
        height: inherit;
    }
    .room-table-wrapper,
    .romm-form-wrapper {
        height: inherit;
        padding: 20px;
        background: white;
    }
    .filter-form {
        margin-bottom: 10px;
    }
    .form-tabs-host {
        height: 100%;
        overflow: auto;
        .form-layout-row {
            position: absolute;
            height: calc(100% - 48px);
            width: 100%;
            .form-title {
                padding-bottom: 10px;
                border-bottom: 1px solid #ccc;
            }
            .img-uploader {
                margin: 10px 0;
            }
        }
    }
    .form-content {
        position: relative;
        height: calc(100% - 77px);
    }
    .form-footer {
        border-top: 1px solid #ccc
    }
}