<nz-layout class="main-layout">
    <nz-content class="content-wrapper">
        <nz-layout class="room-table-wrapper">
            <nz-header style="background: #fff;">
                <form nz-form class="filter-form" [nzLayout]="'inline'">
                    <nz-form-item>
                        <nz-form-label>订单号</nz-form-label>
                        <nz-form-control>
                            <input name="orderId" [(ngModel)]="filterForm.orderId" nz-input>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label>房产名</nz-form-label>
                        <nz-form-control>
                            <nz-select style="width: 200px;" name="roomId" nzAllowClear [nzPlaceHolder]="'请输入房间关键字'" [(ngModel)]="filterForm.roomId"
                                (nzSearchChange)="searchChange($event)" [nzNotFoundContent]="'无法找到'" nzShowSearch>
                                <nz-option *ngFor="let option of vm.searchOptions" [nzLabel]="option.Value" [nzValue]="option.Key"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <button nz-button type="button" [nzType]="'primary'" (click)="reset()">
                            <i class="anticon anticon-search"></i>
                            搜索
                        </button>
                        <button nz-button type="button" [nzType]="'primary'" (click)="openAddDialog()">
                            <i class="anticon anticon-file-add"></i>
                            新增订单
                        </button>
                    </nz-form-item>
                </form>
            </nz-header>
            <nz-content>
                <nz-table #nzTable nzShowSizeChanger [nzData]="dataSet" [nzTotal]="tablePagination.total" [nzLoading]="vm.tableLoading" [nzBordered]="true"
                    [nzShowSizeChanger]="false" [(nzPageIndex)]="tablePagination.pageIndex" [(nzPageSize)]="tablePagination.pageSize"
                    (nzPageIndexChange)="refreshData()">
                    <thead nz-thead>
                        <tr>
                            <th nz-th>
                                <span>订单单号</span>
                            </th>
                            <th nz-th>
                                <span>房产名</span>
                            </th>
                            <th nz-th>
                                <span>支付时间</span>
                            </th>
                            <th nz-th>
                                <span>总金额</span>
                            </th>
                            <th nz-th>
                                <span>联系电话</span>
                            </th>
                            <th nz-th>
                                <span>状态</span>
                            </th>
                            <th nz-th>
                                <span>用户ID</span>
                            </th>
                            <th nz-th>
                                <span>入住时间</span>
                            </th>
                            <th nz-th>
                                <span>退房时间</span>
                            </th>
                            <th nz-th>
                                <span>操作</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody nz-tbody>
                        <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                            <td nz-td>{{data.OrderId}}</td>
                            <td nz-td>{{mapRoomName(data.RoomId)}}</td>
                            <td nz-td>{{data.PayTimeString}}</td>
                            <td nz-td>{{data.Amount+'元'}}</td>
                            <td nz-td>{{data.PhoneNumber}}</td>
                            <td nz-td>{{data.Status}}</td>
                            <td nz-td>{{data.UserId}}</td>
                            <td nz-td>{{data.StartTimeString}}</td>
                            <td nz-td>{{data.EndTimeString}}</td>
                            <td nz-td>
                                <span>
                                    <a (click)="handleEditClick(data)">编辑</a>
                                    <!-- <span nz-table-divider></span> -->
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </nz-content>
        </nz-layout>
        <!-- 编辑界面 -->
        <nz-modal [nzVisible]="vm.isFormVisible" [nzTitle]="'新增订单'" [nzContent]="modalContent" [nzFooter]="modalFooter">
            <ng-template #modalContent>
                <form nz-form [formGroup]="this.orderValidateForm">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="5">房产ID</nz-form-label>
                        <nz-form-control [nzSpan]="8">
                            <input name="RoomId" [ngModelOptions]="{standalone: true}" style="width:100%" [nzSize]="'large'" [(ngModel)]="getFormControl( 'RoomId').value"
                                nz-input [placeholder]="'请选择一个房产'">
                        </nz-form-control>
                        <nz-form-control [nzSpan]="9" nzHasFeedback>
                            <nz-select style="width:100%" nzAllowClear [nzSize]="'large'" [nzPlaceHolder]="'请输入房间关键字'" formControlName="RoomId" (nzSearchChange)="searchChange($event)"
                                [nzNotFoundContent]="'无法找到'" nzShowSearch>
                                <nz-option *ngFor="let option of vm.searchOptions" [nzLabel]="option.Value" [nzValue]="option.Key"></nz-option>
                            </nz-select>
                            <nz-form-explain *ngIf="getFormControl('RoomId').dirty&&getFormControl('RoomId').hasError('require')">请选择一个房产!</nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSpan]="5">支付时间</nz-form-label>
                        <nz-form-control [nzSpan]="17" nzHasFeedback>
                            <!-- <nz-datepicker style="width:100%" [nzSize]="'large'" formControlName="PayTime"></nz-datepicker> -->
                            <nz-form-explain *ngIf="getFormControl('PayTime').dirty&&getFormControl('PayTime').hasError('required')">请输入支付时间!</nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSpan]="5">总金额</nz-form-label>
                        <nz-form-control [nzSpan]="17" nzHasFeedback>
                            <input [nzSize]="'large'" formControlName="Amount" nz-input>
                            <nz-form-explain *ngIf="getFormControl('Amount').dirty&&getFormControl('Amount').hasError('required')">请输入订单总金额!</nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSpan]="5">订购电话</nz-form-label>
                        <nz-form-control [nzSpan]="17" nzHasFeedback>
                            <input [nzSize]="'large'" formControlName="PhoneNumber" nz-input>
                            <nz-form-explain *ngIf="getFormControl('PhoneNumber').dirty&&getFormControl('PhoneNumber').hasError('required')">请输入订购电话!</nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSpan]="5">状态</nz-form-label>
                        <nz-form-control [nzSpan]="17" nzHasFeedback>
                            <nz-select [nzSize]="'large'" formControlName="Status" [nzPlaceHolder]="'选择订单状态'">
                                <nz-option [nzLabel]="'未付款'" [nzValue]="1"></nz-option>
                                <nz-option [nzLabel]="'已付款'" [nzValue]="2"></nz-option>
                                <nz-option [nzLabel]="'退款'" [nzValue]="3"></nz-option>
                            </nz-select>
                            <nz-form-explain *ngIf="getFormControl('Status').dirty&&getFormControl('Status').hasError('required')">请选择订单状态!</nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSpan]="5">用户ID</nz-form-label>
                        <nz-form-control [nzSpan]="17" nzHasFeedback>
                            <input [nzSize]="'large'" formControlName="UserId" nz-input [placeholder]="'匿名游客或普吉岛用户则填-1'">
                            <nz-form-explain *ngIf="getFormControl('UserId').dirty&&getFormControl('UserId').hasError('required')">请输入用户ID</nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSpan]="5">入住时间</nz-form-label>
                        <nz-form-control [nzSpan]="17" nzHasFeedback>
                            <!-- <nz-datepicker style="width:100%" [nzSize]="'large'" formControlName="StartTime" [nzDisabledDate]="disabledStartDate" [nzFormat]="'YYYY-MM-DD'"></nz-datepicker> -->
                            <nz-form-explain *ngIf="getFormControl('StartTime').dirty&&getFormControl('StartTime').hasError('required')">请输入订单入住时间!</nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSpan]="5">退房时间</nz-form-label>
                        <nz-form-control [nzSpan]="17" nzHasFeedback>
                            <!-- <nz-datepicker style="width:100%" [nzSize]="'large'" formControlName="EndTime" [nzDisabledDate]="disabledEndDate" [nzFormat]="'YYYY-MM-DD'"></nz-datepicker> -->
                            <nz-form-explain *ngIf="getFormControl('EndTime').dirty&&getFormControl('EndTime').hasError('required')">请输入退房时间!</nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                </form>
            </ng-template>
            <ng-template #modalFooter>
                <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="vm.isFormVisible=false">
                    取消
                </button>
                <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="handleFormSubmit()" [nzLoading]="vm.isSubmitLoading">
                    保存
                </button>
            </ng-template>
        </nz-modal>
    </nz-content>
</nz-layout>