<div class="container">
    <div class="search-container">
        <i class="fa fa-search fa-inverse"></i>
        <md-input-container>
            <input mdInput maxlength="12" placeholder="搜索对话">
        </md-input-container>
    </div>
    <md-list>
        <md-list-item *ngFor="let thread of threads|async" (click)="onThreadClicked(thread,$event)" [class.active]="currentTread == thread">
            <img md-list-avatar src="{{thread.user.avatarSrc}}" alt="">
            <h3 md-line>{{thread.user.name}} </h3>
            <!-- <p md-line>
                <span>{{thread.user.text}} </span>
            </p> -->
            <span *ngIf="currentTread == thread">></span>
        </md-list-item>
    </md-list>
</div>