<div class="personal-container">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="_submitForm()">
        <!-- username -->
        <nz-form-item>
            <nz-form-label nzRequired>用户名</nz-form-label>
            <nz-form-control>
                <nz-input-group nzPrefixIcon="anticon anticon-user">
                    <input nz-input formControlName="userName" [nzSize]="'large'" [placeholder]="'Username'">
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <!-- password -->
        <nz-form-item>
            <nz-form-label nzRequired>密码</nz-form-label>
            <nz-form-control>
                <nz-input-group nzPrefixIcon="anticon anticon-lock">
                    <input nz-input formControlName="password" [nzSize]="'large'">
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <!-- realname -->
        <nz-form-item>
            <nz-form-label nzRequired>姓名</nz-form-label>
            <nz-form-control>
                <nz-input-group nzPrefixIcon="anticon anticon-lock">
                    <input nz-input formControlName="name" [nzSize]="'name'" [placeholder]="'name'">
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <!-- telphone -->
        <nz-form-item>
            <nz-form-label nzRequired nz-col>电话</nz-form-label>
            <nz-form-control>
                <nz-input-group nzPrefixIcon="anticon anticon-lock">
                    <input nz-input formControlName="telphone" [nzSize]="'large'">

                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <!-- email -->
        <nz-form-item>
            <nz-form-label nzRequired>邮箱</nz-form-label>
            <nz-form-control>
                <nz-input-group nzPrefixIcon="anticon anticon-lock">
                    <input nz-input formControlName="email" [nzSize]="'large'" [placeholder]="'email'">
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>