<div class="personal-container">
    <form nz-form [nzLayout]="'horizontal'" [formGroup]="validateForm" (ngSubmit)="_submitForm()">
        <!-- username -->
        <div nz-form-item>
            <div nz-form-label nz-form-item-required>
                <label>用户名</label>
            </div>
            <div nz-form-control [nzValidateStatus]="validateForm.controls.userName">
                <nz-input formControlName="userName" [nzPlaceHolder]="'Username'" [nzSize]="'large'">
                    <ng-template #prefix>
                        <i class="anticon anticon-user"></i>
                    </ng-template>
                </nz-input>
                <div nz-form-explain *ngIf="validateForm.controls.userName.dirty&&validateForm.controls.userName.hasError('required')">请输入用户名</div>
            </div>
        </div>
        <!-- password -->
        <div nz-form-item>
            <div nz-form-label nz-form-item-required nz-col>
                <label>密码</label>
            </div>
            <div nz-form-control [nzValidateStatus]="validateForm.controls.password">
                <nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'Password'" [nzSize]="'large'">
                    <ng-template #prefix>
                        <i class="anticon anticon-lock"></i>
                    </ng-template>
                </nz-input>
                <div nz-form-explain *ngIf="validateForm.controls.password.dirty&&validateForm.controls.password.hasError('required')">请输入密码</div>
            </div>
        </div>
        <!-- realname -->
        <div nz-form-item>
            <div nz-form-label nz-form-item-required nz-col>
                <label>姓名</label>
            </div>
            <div nz-form-control [nzValidateStatus]="validateForm.controls.name">
                <nz-input formControlName="name" [nzType]="'name'" [nzPlaceHolder]="'name'" [nzSize]="'name'">
                    <ng-template #prefix>
                        <i class="anticon anticon-lock"></i>
                    </ng-template>
                </nz-input>
                <div nz-form-explain *ngIf="validateForm.controls.name.dirty&&validateForm.controls.name.hasError('required')">请输入真实姓名</div>
            </div>
        </div>
        <!-- telphone -->
        <div nz-form-item>
            <div nz-form-label nz-form-item-required nz-col>
                <label>电话</label>
            </div>
            <div nz-form-control [nzValidateStatus]="validateForm.controls.telphone">
                <nz-input formControlName="telphone" [nzType]="'telphone'" [nzPlaceHolder]="'telphone'" [nzSize]="'large'">
                    <ng-template #prefix>
                        <i class="anticon anticon-lock"></i>
                    </ng-template>
                </nz-input>
                <div nz-form-explain *ngIf="validateForm.controls.telphone.dirty&&validateForm.controls.telphone.hasError('required')">请输入联系邮箱</div>
            </div>
        </div>
        <!-- email -->
        <div nz-form-item>
            <div nz-form-label nz-form-item-required nz-col>
                <label>邮箱</label>
            </div>
            <div nz-form-control [nzValidateStatus]="validateForm.controls.email">
                <nz-input formControlName="email" [nzType]="'email'" [nzPlaceHolder]="'email'" [nzSize]="'large'">
                    <ng-template #prefix>
                        <i class="anticon anticon-lock"></i>
                    </ng-template>
                </nz-input>
                <div nz-form-explain *ngIf="validateForm.controls.email.dirty&&validateForm.controls.email.hasError('required')">请输入密码</div>
            </div>
        </div>
    </form>
</div>