<div class="message-page-container container">
    <div class="thread-container">
        <nz-tabset>
            <nz-tab>
                <ng-template #nzTabHeading>
                    <i class="anticon anticon-mail"></i> 邮箱留言
                </ng-template>
                <span>邮箱留言</span>
            </nz-tab>
            <nz-tab>
                <ng-template #nzTabHeading>
                    <i class="anticon anticon-phone"></i> 手机留言
                </ng-template>
                <span>手机留言</span>
            </nz-tab>
        </nz-tabset>
    </div>
    <message-window class="message-window" [currentMessage]="currentMessage"></message-window>
</div>