:host {
    height: 100%;
}

.main-layout,
.thread-wrapper,
.window-wrapper,
.thread {
    height: inherit;
}

.scroller {
    overflow-y: auto;
    height: 470px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}