:host {
    height: 100%;
    .layout {
        height: 100%;
        overflow: auto;
        .content-wrapper {
            padding: 20px;
            min-height: 100%;
            background: white;
        }
    }
    .filter-form {
        margin-bottom: 10px;
    }
    .form-content {
        height: calc(100% - 80px);
    }
    .form-title {
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
    }
    .img-uploader {
        margin: 10px 0;
    }
}