<nz-layout class="main-layout">
    <nz-content class="content-wrapper">
        <nz-layout *ngIf="!vm.isFormVisible" class="room-table-wrapper">
            <nz-header style="background: #fff;">
                <form nz-form class="filter-form" [nzLayout]="'inline'">
                    <div nz-form-item>
                        <div nz-form-label>
                            <label for="text">房间名/地点</label>
                        </div>
                        <div nz-form-control>
                            <nz-input name="text" [(ngModel)]="filterForm.text"></nz-input>
                        </div>
                    </div>
                    <div nz-form-item>
                        <div nz-form-label>
                            <label for="roomType">房间类型</label>
                        </div>
                        <div nz-form-control>
                            <nz-select name="roomType" style="width:120px" [(ngModel)]="filterForm.roomType">
                                <nz-option [nzLabel]="'全部'" [nzValue]="''"></nz-option>
                                <nz-option *ngFor="let option of vm.roomTypes" [nzLabel]="option.name" [nzValue]="option.value">
                                </nz-option>
                            </nz-select>
                        </div>
                    </div>
                    <div nz-form-item>
                        <button nz-button type="button" [nzType]="'primary'" (click)="reset()">
                            <i class="anticon anticon-search"></i>
                            <span>搜索</span>
                        </button>
                        <button nz-button type="button" [nzType]="'primary'" (click)="openAddDialog()">
                            <i class="anticon anticon-file-add"></i>
                            <span>新增房间</span>
                        </button>
                    </div>
                </form>
            </nz-header>
            <nz-content>
                <nz-table #nzTable nzShowSizeChanger [nzAjaxData]="dataSet" [nzTotal]="tablePagination.total" [nzLoading]="vm.tableLoading" [nzBordered]="true" [nzShowSizeChanger]="false" [nzIsPageIndexReset]="false" [(nzPageIndex)]="tablePagination.pageIndex" [(nzPageSize)]="tablePagination.pageSize"
                    (nzPageIndexChange)="refreshData()" (nzPageSizeChange)="refreshData(true)">
                    <thead nz-thead>
                        <tr>
                            <th nz-th>
                                <span>房间名</span>
                            </th>
                            <th nz-th>
                                <span>经度坐标</span>
                            </th>
                            <th nz-th>
                                <span>纬度坐标</span>
                            </th>
                            <th nz-th>
                                <span>每晚价格</span>
                            </th>
                            <th nz-th>
                                <span>面积</span>
                            </th>
                            <th nz-th>
                                <span>床位</span>
                            </th>
                            <th nz-th>
                                <span>所属区域</span>
                            </th>
                            <th nz-th>
                                <span>是否特价</span>
                            </th>
                            <th nz-th>
                                <span>特价</span>
                            </th>
                            <th nz-th>
                                <span>成人数量</span>
                            </th>
                            <th nz-th>
                                <span>儿童数量</span>
                            </th>
                            <th nz-th>
                                <span>操作</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody nz-tbody>
                        <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                            <td nz-td>{{data.RoomName}}</td>
                            <td nz-td>{{data.Longitude}}</td>
                            <td nz-td>{{data.Latitude}}</td>
                            <td nz-td>{{data.Price}}</td>
                            <td nz-td>{{data.Area}}</td>
                            <td nz-td>{{data.BedCount}}</td>
                            <td nz-td>{{data.District}}</td>
                            <td nz-td>{{data.IsBargainPrice}}</td>
                            <td nz-td>{{data.BargainPrice}}</td>
                            <td nz-td>{{data.AdultCount}}</td>
                            <td nz-td>{{data.ChildCount}}</td>
                            <td nz-td>
                                <span>
                                    <a (click)="handleEditClick(data)">编辑</a>
                                    <span nz-table-divider></span>
                                <nz-popconfirm [nzTitle]="'确定要删除这个房间吗？'" (nzOnConfirm)="handleDelteClick(data)">
                                    <a nz-popconfirm>删除</a>
                                </nz-popconfirm>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </nz-content>
        </nz-layout>
        <!-- 编辑界面 -->
        <nz-layout *ngIf="vm.isFormVisible" class="romm-form-wrapper">
            <nz-content class="form-content">
                <div class="form-tabs-host">
                    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" style="height:inherit">
                        <nz-tab>
                            <ng-template #nzTabHeading>
                                房间基本信息
                            </ng-template>
                            <form nz-form [formGroup]="this.roomValidateForm">
                                <div nz-row [nzGutter]="40">
                                    <div nz-col [nzSpan]="8">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col [nzSpan]="5">
                                                <label for="RoomName">房产名</label>
                                            </div>
                                            <div nz-form-control nzHasFeedback nz-col [nzSpan]="17">
                                                <nz-input formControlName="RoomName" [nzSize]="'large'"></nz-input>
                                                <div nz-form-explain *ngIf="getFormControl('RoomName').dirty&&getFormControl('RoomName').hasError('required')">请输入房产名称!</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-col [nzSpan]="8">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col [nzSpan]="5">
                                                <label for="Price">每晚价格</label>
                                            </div>
                                            <div nz-form-control nzHasFeedback nz-col [nzSpan]="17">
                                                <nz-input-number style="width:100%" formControlName="Price" [nzSize]="'large'"></nz-input-number>
                                                <div nz-form-explain *ngIf="getFormControl('Price').dirty&&getFormControl('Price').hasError('required')">请输入每晚价格!</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-col [nzSpan]="8">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col [nzSpan]="5">
                                                <label for="RoomCount">房间数量</label>
                                            </div>
                                            <div nz-form-control nzHasFeedback nz-col [nzSpan]="17">
                                                <nz-input-number style="width:100%" formControlName="RoomCount" [nzSize]="'large'"></nz-input-number>
                                                <div nz-form-explain *ngIf="getFormControl('RoomCount').dirty&&getFormControl('RoomCount').hasError('required')">请输入房间数量!</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-col [nzSpan]="8">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col [nzSpan]="5">
                                                <label for="Longitude">经度坐标</label>
                                            </div>
                                            <div nz-form-control nzHasFeedback nz-col [nzSpan]="17">
                                                <nz-input formControlName="Longitude" [nzSize]="'large'"></nz-input>
                                                <div nz-form-explain *ngIf="getFormControl('Longitude').dirty&&getFormControl('Longitude').hasError('required')">请输入经度坐标!</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-col [nzSpan]="8">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col [nzSpan]="5">
                                                <label for="Latitude">纬度坐标</label>
                                            </div>
                                            <div nz-form-control nzHasFeedback nz-col [nzSpan]="17">
                                                <nz-input formControlName="Latitude" [nzSize]="'large'"></nz-input>
                                                <div nz-form-explain *ngIf="getFormControl('Latitude').dirty&&getFormControl('Latitude').hasError('required')">请输入纬度坐标!</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-col [nzSpan]="8">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col [nzSpan]="5">
                                                <label for="Address">地址</label>
                                            </div>
                                            <div nz-form-control nz-col [nzSpan]="17">
                                                <nz-input formControlName="Address" [nzSize]="'large'"></nz-input>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-col [nzSpan]="8">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col [nzSpan]="5">
                                                <label for="BedCount">床位数量</label>
                                            </div>
                                            <div nz-form-control nzHasFeedback nz-col [nzSpan]="17">
                                                <nz-input-number style="width:100%" formControlName="BedCount" [nzSize]="'large'"></nz-input-number>
                                                <div nz-form-explain *ngIf="getFormControl('BedCount').dirty&&getFormControl('BedCount').hasError('required')">请输入房产床位数量!</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-col [nzSpan]="8">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col [nzSpan]="5">
                                                <label for="AdultCount">成人数量</label>
                                            </div>
                                            <div nz-form-control nzHasFeedback nz-col [nzSpan]="17">
                                                <nz-input-number style="width:100%" formControlName="AdultCount" [nzSize]="'large'"></nz-input-number>
                                                <div nz-form-explain *ngIf="getFormControl('AdultCount').dirty&&getFormControl('AdultCount').hasError('required')">请输入可容纳成人数量!</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-col [nzSpan]="8">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col [nzSpan]="5">
                                                <label for="ChildCount">儿童数量</label>
                                            </div>
                                            <div nz-form-control nzHasFeedback nz-col [nzSpan]="17">
                                                <nz-input-number style="width:100%" formControlName="ChildCount" [nzSize]="'large'"></nz-input-number>
                                                <div nz-form-explain *ngIf="getFormControl('ChildCount').dirty&&getFormControl('ChildCount').hasError('required')">请输入可容纳儿童数量!</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-col [nzSpan]="8">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col [nzSpan]="5">
                                                <label for="Area">房产面积</label>
                                            </div>
                                            <div nz-form-control nzHasFeedback nz-col [nzSpan]="17">
                                                <nz-input-number style="width:100%" formControlName="Area" [nzSize]="'large'"></nz-input-number>
                                                <div nz-form-explain *ngIf="getFormControl('Area').dirty&&getFormControl('Area').hasError('required')">请输入房产面积!</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-col [nzSpan]="8">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col [nzSpan]="5">
                                                <label for="DistrictId">所属区域</label>
                                            </div>
                                            <div nz-form-control nz-col [nzSpan]="17">
                                                <nz-select formControlName="DistrictId" [nzSize]="'large'" [nzPlaceHolder]="'请选择所属区域'">
                                                    <nz-option *ngFor="let option of vm.districts" [nzLabel]="option.DistrictName" [nzValue]="option.DistrictId">
                                                    </nz-option>
                                                </nz-select>
                                                <div nz-form-explain *ngIf="getFormControl('DistrictId').dirty&&getFormControl('DistrictId').hasError('required')">请选择所属区域!</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-col [nzSpan]="8">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col [nzSpan]="5">
                                                <label for="RoomTypeValue">房产类型</label>
                                            </div>
                                            <div nz-form-control nz-col [nzSpan]="17">
                                                <nz-radio-group formControlName="RoomTypeValue" [nzSize]="'large'">
                                                    <label nz-radio-button *ngFor="let type of vm.roomTypes" [nzValue]="type.value">
                                                        <span>{{type.name}}</span>
                                                    </label>
                                                </nz-radio-group>
                                                <div nz-form-explain *ngIf="getFormControl('RoomTypeValue').dirty&&getFormControl('RoomTypeValue').hasError('required')">请选择房产类型!</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-col [nzSpan]="8">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col [nzSpan]="5">
                                                <label for="IsBargainPrice">是否特价</label>
                                            </div>
                                            <div nz-form-control nz-col [nzSpan]="17">
                                                <nz-switch formControlName="IsBargainPrice" [nzSize]="'large'"></nz-switch>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-col [nzSpan]="8">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col [nzSpan]="5">
                                                <label for="BargainPrice">特价价格</label>
                                            </div>
                                            <div nz-form-control nz-col [nzSpan]="17">
                                                <nz-input-number style="width:100%" formControlName="BargainPrice" [nzSize]="'large'"></nz-input-number>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-col [nzSpan]="8">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col [nzSpan]="5">
                                                <label for="Introduction">房间简介</label>
                                            </div>
                                            <div nz-form-control nz-col [nzSpan]="17">
                                                <nz-input formControlName="Introduction" [nzType]="'textarea'" [nzRows]="'2'" [nzSize]="'large'"></nz-input>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-col [nzSpan]="8">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col [nzSpan]="5">
                                                <label for="Configs">房间配置</label>
                                            </div>
                                            <div nz-form-control nz-col [nzSpan]="17">
                                                <!-- <nz-checkbox-group formControlName="Configs"></nz-checkbox-group> -->
                                                <nz-select formControlName="Configs" [nzSize]="'large'" [nzPlaceHolder]="'请选择房间配置项'" [nzMode]="'multiple'">
                                                    <nz-option *ngFor=" let o of this.vm.configs" [nzLabel]="o.label" [nzValue]="o.value"></nz-option>
                                                </nz-select>
                                                <div nz-form-explain *ngIf="getFormControl('Configs').dirty&&getFormControl('Configs').hasError('required')">请选择房间配置!</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </nz-tab>
                        <nz-tab>
                            <ng-template #nzTabHeading>
                                房间图文描述
                            </ng-template>
                            <div nz-row [nzGutter]="40" class="form-layout-row">
                                <!-- 房产简介 -->
                                <div nz-col [nzSpan]="8" style="border-right:1px solid #ccc;height:inherit;">
                                    <h2 class="form-title">房产简介</h2>
                                    <div class="img-uploader">
                                        <span>简介配图:</span>
                                        <input type="file" ng2FileSelect #descriptionFileInput [uploader]="descriptionImgUploader" (onFileSelected)="handleFileSelected('descriptionImgUploader',descriptionFileInput)" />
                                        <!-- 图片上传列表 -->
                                        <nz-table #nzTable [nzDataSource]="descriptionImgList" [nzIsPagination]="false">
                                            <thead nz-thead>
                                                <tr>
                                                    <th nz-th>
                                                        <span>文件名</span>
                                                    </th>
                                                    <th nz-th>
                                                        <span>状态</span>
                                                    </th>
                                                    <th nz-th>
                                                        <span>操作</span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody nz-tbody>
                                                <tr nz-tbody-tr *ngFor="let item of descriptionImgList">
                                                    <td nz-td>{{item.name}}</td>
                                                    <td nz-td>
                                                        <span *ngIf="!item.isUploaded">
                                                            <i style="color: orange" class="anticon anticon-exclamation-circle-o"></i>未上传
                                                        </span>
                                                        <span *ngIf="item.isSuccess">
                                                            <i style="color: green" class="anticon anticon-check-circle"></i>已上传
                                                        </span>
                                                        <span *ngIf="item.isError">
                                                            <i style="color: red" class="anticon anticon-close-circle"></i>上传失败
                                                        </span>
                                                    </td>
                                                    <td nz-td>
                                                        <button nz-button [nzType]="'primary'" [nzSize]="'small'" (click)="uploadImg(item,'descriptionImgUploader')" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                                            上传
                                                        </button>
                                                        <span nz-table-divider></span>
                                                        <button nz-button [nzType]="'default'" [nzSize]="'small'" (click)="showModal(item)">查看</button>
                                                        <span nz-table-divider></span>
                                                        <button nz-button [nzType]="'danger'" [nzSize]="'small'" (click)="removeImg(item,'descriptionImg')">移除</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                    <div class="msg-editor-container">
                                        <editor [isEmitOnChange]="true" [content]="this.roomArticleData.Description" (onOutput)="this.roomArticleData.Description=$event"></editor>
                                    </div>
                                </div>
                                <!-- 房产详情 -->
                                <div nz-col [nzSpan]="8" style="border-right:1px solid #ccc;height:inherit">
                                    <h2 class="form-title">房产详情</h2>
                                    <div class="img-uploader">
                                        <span>详情配图:</span>
                                        <input type="file" ng2FileSelect #infoFileInput [uploader]="infoImgUploader" (onFileSelected)="handleFileSelected('infoImgUploader',infoFileInput)" />
                                        <!-- 图片上传列表 -->
                                        <nz-table #nzTable [nzDataSource]="infoImgList" [nzIsPagination]="false">
                                            <thead nz-thead>
                                                <tr>
                                                    <th nz-th>
                                                        <span>文件名</span>
                                                    </th>
                                                    <th nz-th>
                                                        <span>状态</span>
                                                    </th>
                                                    <th nz-th>
                                                        <span>操作</span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody nz-tbody>
                                                <tr nz-tbody-tr *ngFor="let item of infoImgList">
                                                    <td nz-td>{{item?.name}}</td>
                                                    <td nz-td>
                                                        <span *ngIf="!item.isUploaded">
                                                            <i style="color: orange" class="anticon anticon-exclamation-circle-o"></i>未上传
                                                        </span>
                                                        <span *ngIf="item.isSuccess">
                                                            <i style="color: green" class="anticon anticon-check-circle"></i>已上传
                                                        </span>
                                                        <span *ngIf="item.isError">
                                                            <i style="color: red" class="anticon anticon-close-circle"></i>上传失败
                                                        </span>
                                                    </td>
                                                    <td nz-td>
                                                        <button nz-button [nzType]="'primary'" [nzSize]="'small'" (click)="uploadImg(item,'infoImgUploader')" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                                            上传
                                                        </button>
                                                        <span nz-table-divider></span>
                                                        <button nz-button [nzType]="'default'" [nzSize]="'small'" (click)="showModal(item)">查看</button>
                                                        <span nz-table-divider></span>
                                                        <button nz-button [nzType]="'danger'" [nzSize]="'small'" (click)="removeImg(item,'infoImg')">移除</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                    <div class="msg-editor-container">
                                        <editor [isEmitOnChange]="true" [content]="this.roomArticleData.RoomInfoDetail" (onOutput)="this.roomArticleData.RoomInfoDetail=$event"></editor>
                                    </div>
                                    <!-- 房产封面 -->
                                    <h2 class="form-title" style="margin-top:15px">房产封面</h2>
                                    <div class="img-uploader">
                                        <span>房产封面:</span>
                                        <input type="file" ng2FileSelect #titleFileInput [uploader]="titleImgUploader" (onFileSelected)="handleFileSelected('titleImgUploader',titleFileInput)" />
                                        <!-- 图片上传列表 -->
                                        <nz-table #nzTable [nzDataSource]="titleImgList" [nzIsPagination]="false">
                                            <thead nz-thead>
                                                <tr>
                                                    <th nz-th>
                                                        <span>文件名</span>
                                                    </th>
                                                    <th nz-th>
                                                        <span>状态</span>
                                                    </th>
                                                    <th nz-th>
                                                        <span>操作</span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody nz-tbody>
                                                <tr nz-tbody-tr *ngFor="let item of titleImgList">
                                                    <td nz-td>{{item?.name}}</td>
                                                    <td nz-td>
                                                        <span *ngIf="!item.isUploaded">
                                                            <i style="color: orange" class="anticon anticon-exclamation-circle-o"></i>未上传
                                                        </span>
                                                        <span *ngIf="item.isSuccess">
                                                            <i style="color: green" class="anticon anticon-check-circle"></i>已上传
                                                        </span>
                                                        <span *ngIf="item.isError">
                                                            <i style="color: red" class="anticon anticon-close-circle"></i>上传失败
                                                        </span>
                                                    </td>
                                                    <td nz-td>
                                                        <button nz-button [nzType]="'primary'" [nzSize]="'small'" (click)="uploadImg(item,'titleImgUploader')" [disabled]="item.isReady || item.isUploading || item.isSuccess">上传</button>
                                                        <span nz-table-divider></span>
                                                        <button nz-button [nzType]="'default'" [nzSize]="'small'" (click)="showModal(item)">查看</button>
                                                        <span nz-table-divider></span>
                                                        <button nz-button [nzType]="'danger'" [nzSize]="'small'" (click)="removeImg(item,'titleImg')">移除</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                                <!-- banner图组 -->
                                <div nz-col [nzSpan]="8">
                                    <h2 class="form-title">轮播图组</h2>
                                    <div class="img-uploader">
                                        <input type="file" #bannerFileInput ng2FileSelect [uploader]="bannerImgsUploader" multiple (onFileSelected)="handleFileSelected('bannerImgsUploader',bannerFileInput)" />
                                        <nz-table #nzTable [nzScroll]="{y:440}" [nzDataSource]="bannerImgList" [nzIsPagination]="false">
                                            <ng-template #nzFixedHeader>
                                                <thead nz-thead>
                                                    <tr>
                                                        <th nz-th [nzWidth]="'125px'">
                                                            <span>文件名</span>
                                                        </th>
                                                        <th nz-th [nzWidth]="'100px'">
                                                            <span>状态</span>
                                                        </th>
                                                        <th nz-th>
                                                            <span>操作</span>
                                                        </th>
                                                    </tr>
                                                </thead>
                                            </ng-template>
                                            <tbody nz-tbody>
                                                <tr nz-tbody-tr *ngFor="let item of bannerImgList">
                                                    <td nz-td>{{item.name}}</td>
                                                    <td nz-td>
                                                        <span *ngIf="!item.isUploaded">
                                                            <i style="color: orange" class="anticon anticon-exclamation-circle-o"></i>未上传
                                                        </span>
                                                        <span *ngIf="item.isSuccess">
                                                            <i style="color: green" class="anticon anticon-check-circle"></i>已上传
                                                        </span>
                                                        <span *ngIf="item.isError">
                                                            <i style="color: red" class="anticon anticon-close-circle"></i>上传失败
                                                        </span>
                                                    </td>
                                                    <td nz-td>
                                                        <button nz-button [nzType]="'primary'" [nzSize]="'small'" (click)="uploadImg(item,'bannerImgsUploader')" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                                            上传
                                                        </button>
                                                        <span nz-table-divider></span>
                                                        <button nz-button [nzType]="'default'" [nzSize]="'small'" (click)="showModal(item)">查看</button>
                                                        <span nz-table-divider></span>
                                                        <button nz-button [nzType]="'danger'" [nzSize]="'small'" (click)="removeImg(item,'bannerImg')">移除</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </nz-tab>
                    </nz-tabset>
                </div>
            </nz-content>
            <nz-footer class="form-footer">
                <span style="float:right">
                    <button nz-button type="button" [nzType]="'danger'" (click)="vm.isFormVisible=false">取消</button>
                    <button nz-button type="button" [nzType]="'primary'" [nzLoading]="vm.isSubmitLoading" [disabled]="this.roomValidateForm.invalid" (click)="handleFormSubmit()">保存</button>
                </span>
            </nz-footer>
        </nz-layout>
    </nz-content>
    <nz-modal [nzVisible]="vm.isPreviewVisible" [nzTitle]="'图片详情'" [nzClosable]="false" [nzContent]="modalContent" [nzFooter]="modalFooter">
        <ng-template #modalContent>
            <img [src]="this.vm.previewImgUrl" style="width: 100%" />
        </ng-template>
        <ng-template #modalFooter>
            <button nz-button [nzType]="'primary'" (click)="vm.isPreviewVisible=false">关 闭</button>
        </ng-template>
    </nz-modal>
</nz-layout>