<div class="dashboard-page-container">
    <md-grid-list cols="2" rowHeight="49%">
        <md-grid-tile>
            <div class="grid-wrapper">
                <md-card>
                    <md-card-header>
                        <md-card-title>月访问量统计</md-card-title>
                    </md-card-header>
                    <md-card-content>
                        <div class="chart-wrapper">
                            <chart></chart>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </md-grid-tile>
        <md-grid-tile>
            <div class="grid-wrapper">
                <md-card>
                    <md-card-header>
                        <md-card-title>实时留言列表</md-card-title>
                    </md-card-header>
                    <md-card-content>
                        <div class="chart-wrapper">
                            <message-table></message-table>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </md-grid-tile>
        <md-grid-tile>room info editor building</md-grid-tile>
        <md-grid-tile>todo list building</md-grid-tile>
    </md-grid-list>
</div>