<div class="dashboard-wrapper">
    <div nz-row class="row">
        <div nz-col [nzSpan]="12" class="dashboard-cell">
            <chart></chart>
        </div>
        <div nz-col [nzSpan]="12" class="dashboard-cell">
            col-6 col-pull-18
        </div>
    </div>
    <div nz-row class="row">
        <div nz-col [nzSpan]="12" class="dashboard-cell">
            col-18 col-push-6
        </div>
        <div nz-col [nzSpan]="12" class="dashboard-cell">
            col-6 col-pull-18
        </div>
    </div>
</div>