<nz-layout class="main-layout">
    <nz-content class="content-wrapper">
        <nz-layout class="room-table-wrapper">
            <nz-header style="background: #fff;">
                <form nz-form class="filter-form" [nzLayout]="'inline'">
                    <div nz-form-item>
                        <div nz-form-label>
                            <label for="name">分组名称</label>
                        </div>
                        <div nz-form-control>
                            <nz-input name="name" [(ngModel)]="filterForm.name"></nz-input>
                        </div>
                    </div>
                    <div nz-form-item>
                        <button nz-button type="button" [nzType]="'primary'" (click)="reset()">
                            <i class="anticon anticon-search"></i>
                            <span>搜索</span>
                        </button>
                        <button nz-button type="button" [nzType]="'primary'" (click)="handleAddClick()">
                            <i class="anticon anticon-file-add"></i>
                            <span>新增旅行分组</span>
                        </button>
                    </div>
                </form>
            </nz-header>
            <nz-content>
                <nz-table #nzTable [nzAjaxData]="dataSet" [nzTotal]="tablePagination.total" [nzLoading]="vm.tableLoading" [nzBordered]="true"
                    [nzShowSizeChanger]="false" [nzIsPageIndexReset]="false" [(nzPageIndex)]="tablePagination.pageIndex" [(nzPageSize)]="tablePagination.pageSize"
                    (nzPageIndexChange)="refreshData()">
                    <thead nz-thead>
                        <tr>
                            <th nz-th>
                                <span>分组名</span>
                            </th>
                            <th nz-th>
                                <span>封面</span>
                            </th>
                            <th nz-th>
                                <span>描述</span>
                            </th>
                            <th nz-th>
                                <span>操作</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody nz-tbody>
                        <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                            <td nz-td>{{data.Name}}</td>
                            <td nz-td>
                                <img [src]="data.CoverImage" />
                            </td>
                            <td nz-td>{{data.Description}}</td>
                            <td nz-td>
                                <span>
                                    <a>编辑</a>
                                    <a>删除</a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </nz-content>
        </nz-layout>

        <!-- 编辑界面 -->
        <nz-modal [nzVisible]="vm.isFormVisible" [nzTitle]="'新增订单'" [nzContent]="formContent" [nzFooter]="formFooter">
            <ng-template #formContent>
                <form nz-form [formGroup]="tourGroupValidateForm">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSpan]="5">
                            <label for="Name" nz-form-item-required>分组名</label>
                        </div>
                        <div nz-form-control nz-col [nzSpan]="17" nzHasFeedback>
                            <nz-input [nzSize]="'large'" formControlName="Name"></nz-input>
                            <div nz-form-explain *ngIf="getFormControl('Name').dirty&&getFormControl('Name').hasError('required')">请输入分组名!</div>
                        </div>
                    </div>
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSpan]="5">
                            <label for="Description" nz-form-item-required>分组描述</label>
                        </div>
                        <div nz-form-control nz-col [nzSpan]="17" nzHasFeedback>
                            <nz-input [nzSize]="'large'" [nzType]="'textarea'" formControlName="Description"></nz-input>
                            <div nz-form-explain *ngIf="getFormControl('Description').dirty&&getFormControl('Description').hasError('required')">请输入分组描述!</div>
                        </div>
                    </div>
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSpan]="5">
                            <label>分组封面</label>
                        </div>
                        <div nz-form-control nz-col [nzSpan]="17">
                            <nz-upload class="avatar-uploader" nzAction="/Public/UploadFile" [nzShowUploadList]="false" (nzChange)="handleImgChange($event)">
                                <nz-spin *ngIf="vm.isImgLoading" class="avatar-uploader-trigger"></nz-spin>
                                <i *ngIf="!coverImageUrl&&!vm.isImgLoading" class="anticon anticon-plus avatar-uploader-trigger"></i>
                                <span *ngIf="!coverImageUrl">上传封面</span>
                                <img *ngIf="coverImageUrl&&!vm.isImgLoading" [src]="coverImageUrl" class="avatar">
                            </nz-upload>
                        </div>
                    </div>
                </form>
            </ng-template>
            <ng-template #formFooter>
                <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="vm.isFormVisible = false">
                    取消
                </button>
                <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="handleFormSubmit()" [nzLoading]="vm.isSubmitLoading">
                    保存
                </button>
            </ng-template>
        </nz-modal>

        <!-- 封面图片预览 -->
        <nz-modal [nzVisible]="vm.isPreviewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
            <ng-template #modalContent>
                <div [innerHtml]="this.previewImage" style="width: 100%"></div>
            </ng-template>
        </nz-modal>
    </nz-content>
</nz-layout>